font-family: 'IM Fell Great Primer SC', serif;
body{background-color: black;
color: white;
font-size: 20px;
}
.navBar {
	background-color: darkgrey;
	flex-flow: row nowrap;
		flex-direction: row;
		flex-wrap: nowrap;
	justify-content: flex-start;

	position: relative;
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
		padding-top: 0.5rem;
		padding-right: 1rem;
		padding-bottom: 0.5rem;
		padding-left: 1rem;}

header {
  width: 100%;
  height: 80px;
}

ul {
  width: auto;
  float: right;
  margin-top: 8px;
}

li {
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
}
p {text-align: center;}